:root {
    --topBarHeight: 86px;
    --centralSectionHeight: 950px;
    --bottomBarHeight: 40px;
    --leftControlsWidth: 358px;
    --bigBtnPadding: 10px;
    --chartHeight: 610px;
    --chartPanelWidth: 845px;
    --tickerpanelWidth: 266px;
    --tickerWidth: 145px;
    /*--tickerHeight: calc(var(--chartHeight)-100);*/
    /*--tickerHeight: calc(var(--chartHeight) + var(--tableHeight) - var(--bigrndbtn-size));*/
    --tickerHeight: 640px;
    /*--tickerheadWidth: calc(var(--tickerWidth)/2);*/
    --tableHeight: 284px;
    /*--tableHeight: calc(var(--centralSectionHeight) - var(--chartHeight));*/
    --bigrndbtn-size: 220px;
    --bigrndbtn-first-div-size: 180px;
    --bigrndbtn-first-div-position: calc((var(--bigrndbtn-size) - var(--bigrndbtn-first-div-size))/2);
    --bigrndbtn-second-div-size: 134px;
    --bigrndbtn-second-div-position: calc(((var(--bigrndbtn-first-div-size) - var(--bigrndbtn-second-div-size))/2)-1);
    --bigrndbtn-third-div-size: 116px;
    --bigrndbtn-third-div-position: calc((var(--bigrndbtn-second-div-size) - var(--bigrndbtn-third-div-size))/2);
    --clockfaceSvgCircleStrokeDasharray: 472;
    --clockfaceSvgCircleStrokeWidth: 24px;
    --btnBgGrad: linear-gradient(#474c48, #2a2f31 10%, #161b1e 50%, #1d2225);
    --tabsBorder: 3px ridge goldenrod;
}