@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans-regular.woff2') format('woff2'),
    url('../fonts/opensans-regular.woff') format('woff'),
    url('../fonts/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/opensans-bold.woff2') format('woff2'),
    url('../fonts/opensans-bold.woff') format('woff'),
    url('../fonts/opensans-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansXtra';
    src: url('../fonts/opensans-extrabold.woff2') format('woff2'),
    url('../fonts/opensans-extrabold.woff') format('woff'),
    url('../fonts/opensans-extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'HelveticaNeue-CondensedBold';
    src: url('../fonts/HelveticaNeue-CondensedBold_gdi.eot');
    src: url('../fonts/HelveticaNeue-CondensedBold_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-CondensedBold_gdi.woff') format('woff'),
    url('../fonts/HelveticaNeue-CondensedBold_gdi.ttf') format('truetype'),
    url('../fonts/HelveticaNeue-CondensedBold_gdi.svg#HelveticaNeue-CondensedBold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: condensed;
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'LedBoard';
    /*src: url('../fonts/led_board-7-webfont.eot');
    src: url('../fonts/led_board-7-webfont.eot?#iefix') format('embedded-opentype'),*/
    src: url('../fonts/led_board-7-webfont.woff2') format('woff2'),
    url('../fonts/led_board-7-webfont.woff') format('woff'),
    url('../fonts/led_board-7-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arialblack';
    src: local('Arial Black');
    font-weight: 900;
}
